* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.game {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  height: 100vh;
  background: black;
  margin: 0 auto;
}

.track-container {
  display: flex;
  flex: 0 0 85%;
}

.track {
  position: relative;
  flex: 0 0 calc(100% / 7);
}

.track:not(:last-child) {
  border-right: 1px solid grey;
}

.key-container {
  display: flex;
  flex: 0 0 15%;
}

.key {
  flex: 0 0 calc(100% / 7);
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  text-align: center;
  position: relative;
}

.key--red {
  background: rgb(254, 45, 87);
}

.key--green {
  background: rgb(77, 170, 87);
}

.key--blue {
  background: rgb(28, 121, 228);
}

.key--orange {
  background: rgb(240, 128, 60);
}

.key span {
  font-weight: bold;
  writing-mode: vertical-lr;
  text-orientation: upright;
  padding-top: 5px;
}

.note {
  position: absolute;
  width: 100%;
  height: 15px;
  top: -15px;
}

@keyframes moveDown {
  0% { top: -15px; }
  100% { top: 100%; }
}

.keypress {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  display: none;
}

.keypress--red {
  background-image: linear-gradient(to top, rgba(254, 45, 87, .6), rgba(254, 45, 87, 0));
}

.keypress--green {
  background-image: linear-gradient(to top, rgba(77, 170, 87, .6), rgba(77, 170, 87, 0));
}

.keypress--blue {
  background-image: linear-gradient(to top, rgba(28, 121, 228, .6), rgba(28, 121, 228, 0));
}

.keypress--orange {
  background-image: linear-gradient(to top, rgba(240, 128, 60, .6), rgba(240, 128, 60, 0));
}
